aiocryptopay==0.4.7
asyncpg==0.29.0
aiofiles==24.1.0
aiogram==3.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiohttp-jinja2==1.6
aiohttp_socks==0.10.1
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
asyncio==3.4.3
attrs==25.3.0
Babel==2.9.1
cachetools==4.2.2
certifi==2023.11.17
charset-normalizer==3.4.1
filetype==1.2.0
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
heroku3==4.2.3
httpcore==1.0.7
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
magic-filter==1.0.12
MarkupSafe==3.0.2
meval==2.5
multidict==6.3.2
numpy==2.2.4
pandas==2.2.3
propcache==0.3.1
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.10.6
pydantic_core==2.27.2
Pyrogram==2.0.106
pyromod==3.1.6
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-socks==2.7.1
python-telegram-bot==22.0
pythondialog==3.5.3
pytz==2025.2
requests==2.32.3
rsa==4.9
setuptools==77.0.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
StrEnum==0.4.15
tabulate==0.9.0
telebot==0.0.5
telegram==0.0.1
Telethon @ git+https://github.com/LonamiWebs/Telethon@f9643bf7376a5953da2050a5361c9b465f7ee7d9
tornado==6.4.2
typing_extensions==4.13.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
wheel==0.45.1
XlsxWriter==3.2.2
yarl==1.18.3
gunicorn
flask
flask_sqlalchemy
